<!DOCTYPE html>
<html>
<head>
  <title>Delete Student</title>
</head>
<body>
  <h3>Please enter the name and campus of the student you would like to delete (case sensitive):</h3>
  <form action="/delete_students" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="campus" placeholder="Campus">
      <button type="submit">Save</button>
  </form>
</body>
</html>