body {
  max-width: 960px;
  min-width: 340px;
}

main {
  width: 65%;
  display: inline-block;
  vertical-align: top;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 575px) {
  #external-links {
  margin: 20px;
}
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  
main {
  width: 100%;
}

#external-links {
  width: 100%;
  list-style-type: none;
}
}


