div {
  width: 275px;
  height: 415px;
  margin: auto;
  position: relative;
  }

#octopus {
  position: absolute;
  top: 90px;
  left: 18px;
}

#hat {
  position: absolute;
  top: 30px;
  left: 0px;
}

#glasses {
  position: absolute;
  top: 189px;
  left: 60px;
}